@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  font-family: "Permanent Marker", cursive;
}

/* Navigation starts Here */
.navbar {
  width: 100%;
  background-color: #3a1919;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #0491aa;
  color: #3a1919;
}

.active {
  background-color: #0491aa;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Main Content Starts Here */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

* {
  box-sizing: border-box;
}
/* Backgroud Image starts Here */
.bg-image {
  background-image: url("bg2.jpg");
  position: absolute;
  filter: blur(0px);
  height: 92.55vh;
  width: 100vw;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* The Background Text starts Here */
.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(242, 240, 231);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.btn {
  padding: 5px;
  border-radius: 12px;
  font-family: "Permanent Marker", cursive;
  background-color: #3a1919;
  color: rgb(240, 231, 231);
  border: 2px solid #0491aa;
  transition-duration: 0.4s;
  text-align: center;
}
.btn a {
 text-decoration: none;
}
.btn:hover {
  background-color: #0491aa; /* Green */
  color: #3a1919;
}
/* .change {
      display: none;
  } */
